<section class="vh-100  profile1">
  <div class=" profile">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-3">
        <div class="card mt-5" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                class="rounded-circle img-fluid" style="width: 100px;" />
            </div>
            <h4 class="mb-2"><%= current_user.full_name%>
            <p class="text-muted mb-4"><a
                href="#!"><%= current_user.email%></a></p>
            <div class="mb-4 pb-2">
              <button type="button" class="btn btn-outline-primary btn-floating">
                <i class="fab fa-facebook-f fa-lg"></i>
              </button>
              <button type="button" class="btn btn-outline-primary btn-floating">
                <i class="fab fa-twitter fa-lg"></i>
              </button>
              <button type="button" class="btn btn-outline-primary btn-floating">
                <i class="fab fa-skype fa-lg"></i>
              </button>
            </div>
            <%= link_to 'Edit Profile', edit_user_registration_path(current_user)%>
            <%= link_to 'room', rooms_path%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>