/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 body{
  font-family: sans-serif;
  overflow-x: hidden; 
 }
 body a{
  text-decoration: none;
  color: #3db9b3;
 }
 .container-login{
  width:25%;
  padding:10px;
 }
 .btn1{
  background-color: #68cae7;
 }
 .btn1:hover{
  background-color: #68cae7;
 }
 .navbar{
  background-color:white;
}
.navbar a{
  text-decoration: none;
  color:#22a6cd;
  font-weight: 500;
}
.logo1{
  height: 50px;
}
.link-in{
  padding-left: 10px;
}
.img1{
  width:100%;
  height:95%;
  margin-left:30px;
}
.signup{
  justify-content: space-evenly;
  margin-top: 65px;
  position: absolute;
  left: 40px;
  top: 46px;
  z-index: -1;
}
.img2{
  width:110%;
  height:98%;
  margin-left: 100px;
}
.alert-dismissible {
  margin-top:70px;
}
.signup2{
  justify-content: space-evenly;
  margin-top: 50px;
  position: absolute;
  left: 40px;
  top: 46px;
  z-index: -1;
}
.profile{
  margin-top: 70px; 
}
.profile1{
  overflow-x: hidden; 
  overflow-y: hidden; 
  background-image:url("chat.webp");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container-edit{
  margin-top: 90px;
  width: 28%;
}
.butt{
  border: 0px;
  background-color: white;
  color:#22a6cd;
  font-weight: 500;
  padding:0px;
}
.msg-form {
  position: fixed;
  bottom: 0;
  width: 90%
}
.col-md-10 {
  height: 100vh;
  overflow: scroll;
}
.msg-content {
  width: 72%;
}
.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #c2e0eb ;
  padding: 10px
}
.chat{
  background: rgb(229, 233, 235) url("back.png") no-repeat center;
  width: 78%;
  padding-left: 0px;
  margin-left: 260px;
  padding-right: 0px;
  position: fixed;
  overflow: scroll;
  height: 100vh;
  bottom: 0;
  right: 0;
  padding-top: 80px;
}
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
}
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.talktext{
  padding:5px 5px 8px 5px;
	text-align: left;
  line-height: 1.5em;
}
.name{
  font-weight: bold;
  color: #3db9b3;
}
.contact{
  position: fixed;
  bottom: 0;
  left: 0;
  top:80px;
  width: 300px;
}
.profile-img{
  border-radius: 100%;
  width: 60px;
  border: 1px solid orange;
  margin-right: 10px;
}
.profile-img1{
  border-radius: 100%;
  width: 50px;
  border: 1px solid orange;
  margin-right: 10px;
}
.main-circle{
  background: #53bf53;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  left: 48px;
  top: 40px;
}
.main-pro{
  position:relative;
}