/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 body{
  // background-image:url("chat.webp");
  // background-repeat: no-repeat;
  // background-size: 100%;
  font-family: sans-serif;
  overflow-x: hidden; 
 }
 body a{
  text-decoration: none;
 }
 .container-login{
  width:25%;
  padding:10px;
 }
 .btn1{
  background-color: #68cae7;
 }
 .btn1:hover{
  background-color: #68cae7;
 }
 .navbar{
  background-color:#68cae7;
}
.navbar a{
  text-decoration: none;
  color:purple;
  font-weight: 300;
}
.logo1{
  height: 50px;
}
.link-in{
  padding-left: 10px;
}
.img1{
  width:107%;
  height:100%;
}
.signup{
  justify-content: space-evenly;
  margin-top: 50px;
}
.img2{
  width:100%;
  height:95%;
}